<div class="arrival-container">
	<h1 class="arrival-header">Register</h1>

	<input class="form-style" type="text" name="name" placeholder="Name" required>
	<input class="form-style" type="number" name="Age" placeholder="Age" required>
	<select class="form-style" name="occupation" required>
		<option value="" disabled>Select Occupation</option>
		<option value="">Dust Farmer</option>
		<option value="">Alien Hunter</option>
		<option value="">Battery Technician</option>
		<option value="">Yoga Teacher</option>
		<option value="">Front-end Developer</option>
	</select>

		<button class="check-button">Check in</button>

	</div>