.arrival-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	background-color: black;
}

.arrival-header {
	font-size: 50px;
	text-align: center;
	padding: 35px;
	color: white;
	font-weight: 500;
}

.form-container {
	display: flex;
	flex-direction: column;
	margin: 0 20px;
}


input, button {
	width: 100%;
}

.form-style {
	display: flex;
	font-family: 'Roboto', sans-serif;
	padding: 10px 0;
	margin: 5px 0;
	font-size: 24px;
	color: red;
	background-color: black;
	border: none;
	border-bottom: 1px solid white;
	width: 100%;
}

option {
	background-color: white;
	color: red;
}

::-webkit-input-placeholder {
  color: red;
}

.check-button {
	background-color: black;
	color: white;
	font-size: 40px;
	border: none;
	margin-top: 90px;
	cursor: pointer;
}