.encounter-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.encounter-header {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	padding: 45px;
    font-weight: 100;
    margin: 30px;
}

.encounter-span {
	font-size: 20px;
}

.encounter-list {
	overflow: scroll;
	height: 1000px;
	ul {
		padding: 20px;
		font-family: 'Roboto', sans-serif;
	}
}


.encounter-footer {
	display: flex;
    justify-content: center;
    background-color: black;
    height: 60vh;
}

.encounter-button {
    font-size: 40px;
    font-color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.encounter-button-link {
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    text-decoration: none;
}